page-home {

	.signup-holder{
	     background:url(../assets/imgs/tg.png) 0px 0px no-repeat;
	     background-size: cover;
	/*    height:calc(100vh);*/
	    min-height: 89vh;
	    box-sizing:border-box;
	}
	.title 
	{ 
		text-align: center
	}
	.english{
		margin-top: 278px;
        margin-left: 107px;
	}
}
